{% extends 'navbar.html' %}


{% block content %}

    <div class="card">

        <h5 class="center-text">{{ message }}</h5>
        <div class="card-body">
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">Университет</th>
                    <th scope="col">№ университета</th>
                    <th scope="col">Группа</th>
                    <th scope="col">№ группы</th>
                </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                <tr>
                    <th scope="row">{{ group.univerсity_id.name }}</th>
                    <td>{{ group.univerсity_id.pk }}</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.pk }}</td>

                </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
    </div>
    </div>

{% endblock %}