{% extends 'navbar.html' %}

{% block content %}

    <h4 class="center-text">Расписание {{ group }}</h4>
    {% if user.is_authenticated %}

        {% if site_user_does_not_exist %}
            <div class="row">

                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Выбрать расписание</h5>
                            <form name="choose_timetable" method="post" action="{% url 'timetable' %}">{% csrf_token %}
                                <div class="form-group">
                                    <input required class="form-control" type="text" name="univercity" placeholder="ВУЗ">
                                </div><br>
                                <div class="form-group">
                                    <input required class="form-control" type="text" name="group" placeholder="Группа">
                                </div>
                                <p class="message">{{ does_not_exist }}</p>
                                <div align="right">
                                    <button type="submit" class="btn btn-outline-light" name="choose_timetable">Выбрать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Добавить расписание</h5>
                            <form name="choose_timetable" method="post" action="{% url 'timetable' %}">{% csrf_token %}
                                <div class="form-group">
                                    <input required class="form-control" type="text" name="univercity" placeholder="ВУЗ">
                                </div><br>
                                <div class="form-group">
                                    <input required class="form-control" type="text" name="group" placeholder="Группа">
                                </div>
                                <div align="right">
                                    <button type="submit" class="btn btn-outline-light" name="add_timetable">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        {% else %}
            <div class="card-columns">

                <div class="card p-3">
                    <table class="table table-dark">
                        <thead>
                        <h5 class="center-text">По нечетным</h5>
                        </thead>
                        <tbody>
                        {% if mon1_len %}
                            <tr>
                                <th scope="row">Пн</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in mon %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 1 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                    <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if tue1_len %}
                            <tr>
                                <th scope="row">Вт</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in tue %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 1 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>

                                </td>
                            </tr>
                        {% endif %}
                        {% if wed1_len %}
                            <tr>
                                <th scope="row">Ср</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in wed %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 1 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if thu1_len %}
                            <tr>
                                <th scope="row">Чт</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in thu %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 1 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if fri1_len %}
                            <tr>
                                <th scope="row">Пт</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in fri %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 1 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if sat1_len %}
                            <tr>
                                <th scope="row">Сб</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in sat %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 1 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if sun1_len %}
                            <tr>
                                <th scope="row">Вс</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in sun %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 1 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>


                <div class="card p-3">
                    <table class="table table-dark">
                        <thead>
                        <h5 class="center-text">По четным</h5>
                        </thead>
                        <tbody>
                        {% if mon2_len %}
                            <tr>
                                <th scope="row">Пн</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in mon %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 2 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if tue2_len %}
                            <tr>
                                <th scope="row">Вт</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in tue %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 2 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>

                                </td>
                            </tr>
                        {% endif %}
                        {% if wed2_len %}
                            <tr>
                                <th scope="row">Ср</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in wed %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 2 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if thu2_len %}
                            <tr>
                                <th scope="row">Чт</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in thu %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 2 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if fri2_len %}
                            <tr>
                                <th scope="row">Пт</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in fri %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 2 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if sat2_len %}
                            <tr>
                                <th scope="row">Сб</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in sat %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 2 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        {% if sun2_len %}
                            <tr>
                                <th scope="row">Вс</th>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in sun %}
                                            {% if lesson.repeat == 0 or lesson.repeat == 2 %}

                                                <tr class="small-table">
                                                    <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                        {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                     <form method="post" action="{% url 'change_lesson' %}">{% csrf_token %}
                                                        <input type="hidden" value="{{ lesson }}">
                                                        <th scope="col"><button type="submit" class="btn-link">{{ lesson.name }}</button></th>
                                                    </form>
                                                    <th scope="col">{{ lesson.type }}</th>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                {% if tomorrow_len %}
                    <div class="card p-3">
                        <table class="table table-dark" style="padding: 10px !important;">
                            <thead>
                            <h5 class="center-text">Завтра</h5>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    <table class="table table-bordered table-dark">
                                        <thead></thead>
                                        {% for lesson in tomorrow %}
                                            <tr class="small-table">
                                                <th scope="col">{{ lesson.start_time.hour }}:{{ lesson.start_time.minute }}-
                                                    {{ lesson.end_time.hour }}:{{ lesson.end_time.minute }}</th>
                                                <th scope="col">
                                                    {{ lesson.name }}<br>
                                                    <span style="font-size: x-small; vertical-align: bottom; font-style: italic">
                                                            {{ lesson.teacher }}
                                                        </span>
                                                </th>
                                                <th scope="col">
                                                    {{ lesson.type }}<hr color="#31383e">
                                                    <span style="font-style: italic">{{ lesson.classroom }}</span>
                                                </th>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Завтра</h5><hr color="#31383e" style="height: 1px !important;">
                            <p class="card-text">Пар нет, можно отдохнуть</p>
                        </div>
                    </div>
                {% endif %}

                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Расписание</h5>
                        {% if admin %}
                            <form action="{% url 'add_lesson' %}" style="display: inline-block">
                                <button type="button" class="btn btn-outline-light">Изменить</button>
                            </form>
                            <form action="{% url 'add_lesson' %}" style="display: inline-block">
                                <button type="submit" class="btn btn-outline-light">Дополнить</button>
                            </form>
                        {% else %}
                            Для того, что бы менять или дополнять расписание, попросите разрешене у админа расписания.
                        {% endif %}
                    </div>
                </div>

                {% if admin %}
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Добавить админа</h5>
                            {#                            <p class="message">{{ admin_message }}</p>#}
                            <form name="add_admin" method="post" action="{% url 'timetable' %}">{% csrf_token %}
                                <div class="form-group">
                                    <input required name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">
                                </div>
                                <div align="right">
                                    <p class="message">{{ admin_message }}</p>
                                    <button type="submit" class="btn btn-outline-light" name="add_admin">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}

                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Выбрать другое расписание</h5>
                        <form name="add_admin" method="post" action="{% url 'timetable' %}">{% csrf_token %}
                            <div align="right">
                                <button type="submit" class="btn btn-outline-light" name="change_timetable">Выбрать</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        {% endif %}
    {% else %}
        <h6 class="center-text">Для просмотра расписания, вам необходимо авторизироваться.</h6>
    {% endif %}


{% endblock %}